<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>예약완료</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="../res/css/common.css">

<style>
/* 패널 해드 */
.panel-heading {
	padding-left: 100px;
	padding-right: 120px;
}
/* 패널 해드 끝 */
/* 섹션 타이틀 */
.location {
	float: right;
	height: 47px;
	padding: 40px 0 0 0;
}

.location a {
	text-decoration: none;
	color: #4C4A4A;
}

.headTit {
	border-bottom: #432c10 solid 2px;
	height: 47px;
	font-style: Sans-Serif;
}
/* 섹션 타이틀 끝 */
/* 패널 */
.pointpanel, .payment {
	margin-left: 80%;
}

.panel-body {
	padding: 30px;
}
/* 패널 끝 */

/* 테이블  */
colgroup col.info {
	background-color: #dff0d8;
	width: 150px;
	height: 500px;
}

colgroup col.col {
	width: 250px;
}

.confirm {
	width: 80%;
	margin: 0 auto;
}
/* 테이블  끝 */

/* 버튼 */
.buttongroup {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 100px;
	margin-right: -90%;
}
/* 버튼 끝 */
</style>

<script>
var confirm = function(msg, type) {
	   swal(msg, {
	        buttons: ["취소", "확인"],
	      }).then((value) => {
	    	  if(value)
	    		  return;
	    	  else
	    		  return;
	      });
	}
	$(function() {
		//취소버튼 클릭시 호출
		$("#cancel").click(function() {
			confirm("예약을 취소 하시겠습니까?");
		});
		$("#backmypage_book").click(function(){
			location.href="../mypage/05.html"
		})
	});
</script>
</head>
<body>
	<div class="container">
		<!-- 헤더 -->
		<header>
			<!-- 타이틀 -->
			<div class="container">
				<div class="center-block title">
					<a class="logo" href="../main.html" style="margin-left: 42%">Seoul
						HOTEL</a>
					<!-- 예약조회, 로그인, 회원가입 -->
					<ul class="nav navbar-nav navbar-right">
						<li><a href="05.html" class="header_a">예약조회</a></li>
						<li><a href="../user/01.html" class="header_a">로그인</a></li>
						<li><a href="../user/03.html" class="header_a">회원가입</a></li>
					</ul>
					<!--예약조회, 로그인, 회원가입 끝 -->
				</div>
			</div>
			<!--타이틀 끝 -->
		</header>
		<br>
		<!-- 메뉴 -->
		<!-- 메인메뉴 -->
		<nav>
			<div class="navi">
				<ul class="mainMenu">
					<li><a href="../room/05.html">예약</a></li>
					<li><a href="../intro/01.html">호텔소개</a></li>
					<li><a href="../inquiry/01.html">고객문의</a></li>
					<li><a href="../promotion/01.html">프로모션</a></li>
					<li><a href="../comment/04.html">후기게시판</a></li>
				</ul>
			</div>
			<hr style="background-color: #B4B4B4; height: 1px solid;">
		</nav>
		<!--메인메뉴 끝 -->
		<!-- 섹션 타이틀 -->
		<div class="container center-block">
			<div class="location">
				<p>
					<a><span class="glyphicon glyphicon-home">&nbsp;></span></a> <a>예약조회</a>
				</p>
			</div>
			<div class="headTit">
				<h3>&nbsp;예약조회</h3>
			</div>
			<br> <br>
		</div>
		<!-- 섹션 타이틀 끝-->
		<!-- 예약정보 패널 -->
		<div class="panel panel-default">

			<!-- 패널 헤드 -->
			<div class="panel-heading">
				<h3>예약정보</h3>
			</div>
			<!-- 패널 헤드 끝 -->

			<!-- 예약일, 예약번호 -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<span>예약일: 2019.11.01</span> <span class="pull-right regnum">예약번호:
						17033360</span>
				</div>
			</div>
			<!-- 예약일, 예약번호 끝-->

			<!-- 테이블 -->
			<div class="panel-body">
				<table class="table table-bordered confirm">
					<colgroup>
						<col class="info">
						<col class="col">
						<col class="info">
						<col class="col">
					</colgroup>
					<tr>
						<td>호텔</td>
						<td>서울호텔</td>
						<td>성명</td>
						<td>김철수</td>
					</tr>
					<tr>
						<td>체크인</td>
						<td>2019.11.20</td>
						<td>체크아웃</td>
						<td>2019.11.24</td>
					</tr>
					<tr>
						<td>숙박일수</td>
						<td>4박</td>
						<td>투숙인원</td>
						<td>성인: 1 / 어린이: 0</td>
					</tr>
					<tr>
						<td>객실</td>
						<td>Deluxe</td>
						<td>옵션</td>
						<td>조식포함</td>
					</tr>
				</table>
			</div>
			<!-- 테이블 끝-->

			<!-- 포인트,요금 -->
			<div class="panel panel-default">
				<div class="panel-footer">
					<span class="pointpanel">요금 합계: <span>396200</span></span>
				</div>
			</div>
			<!-- 포인트,요금 끝-->

			<!-- 결제수단 -->
			<div class="panel-footer">
				<span class="payment">결제 수단: <span>카드 (일시불)</span></span>
			</div>
		</div>
		<!-- 예약정보 패널 끝-->
		<div class="buttongroup">
			<button type="button" class="btn btn-default pull-right" id="cancel">예약취소</button>
		</div>

	</div>
	<!-- 푸터 -->
	<br>
	<br>
	<footer>
		<div class="container center-block">
			<dl>
				<dd>
					<span class="logo" style="color: white;">Seoul HOTEL</span>
				</dd>
				<dd>
					<table class="table-footer">
						<tr>
							<td>| 상호명: Seoul HOTEL</td>
							<td>| 대표명: 김철수</td>
						</tr>
						<tr>
							<td colspan="2">| 사업자등록번호: 000-00-0000</td>
						</tr>
						<tr>
							<td colspan="2">| (000-00) 서울시 마포구 OOOO</td>
						</tr>
						<tr>
							<td>| TEL: 070-0000-0000</td>
							<td>| Email: hotel@hotel.co.kr</td>
						</tr>
						<tr>
							<td colspan="2">Copyright 2020 HOTEL Corp. All Rights
								Reserved</td>
						</tr>
					</table>
				</dd>
			</dl>
		</div>
	</footer>
	<!-- 푸터 끝 -->

</body>
</html>