<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>	
<link rel="stylesheet" href="../res/css/common.css">
<style>
/*메인 섹션*/
section {
	margin: 0px 0 50px 0;
}

div .searchBar {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.promotion-title {
	padding-bottom: 5px;
}

h4.promotion-title {
	margin-bottom: 0px;
}

#more {
	float: right;
	font-size: 15px;
	text-decoration: none;
}

#more:hover {
	color: #A0A0A0;
}
/*메인 섹션 끝*/
/* 섹션 타이틀 */
.location {
	float: right;
	height: 47px;
	padding: 40px 0 0 0;
}

.location a {
	text-decoration: none;
	color: #4C4A4A;
}

.headTit {
	border-bottom: #432c10 solid 2px;
	height: 47px;
	font-style: Sans-Serif;
}
/* 섹션 타이틀 끝 */
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<!-- 헤더 -->
		<header>
			<!-- 타이틀 -->
			<div class="container">
				<div class="center-block title">
				   <a class="logo" href="../main.html" style="margin-left:42%">Seoul HOTEL</a>
				   <!-- 예약조회, 로그인, 회원가입 -->
				   <ul class="nav navbar-nav navbar-right">
				      <li><a href="../user/01.html" class="header_a">예약조회</a></li>
				      <li><a href="../user/01.html" class="header_a">로그인</a></li>
				      <li><a href="../user/03.html" class="header_a">회원가입</a></li>
				   </ul>
				   <!--예약조회, 로그인, 회원가입 끝 -->
				</div>
			</div>
			<!--타이틀 끝 -->			
		</header>
		<br>
		<!-- 메인메뉴 -->
		<nav>
			<div class ="navi">
				<ul class="mainMenu">
					<li><a href="../room/05.html">예약</a></li>
					<li><a href="../intro/01.html">호텔소개</a></li>
			 		<li><a href="../inquiry/01.html">고객문의</a></li>
					<li><a href="../promotion/01.html">프로모션</a></li>
					<li><a href="../comment/04.html">후기게시판</a></li>
				</ul>
			</div>
			<hr style="background-color:#B4B4B4; height:1px solid;">
		</nav>	
		<!--메인메뉴 끝 -->
		<!-- 헤더 끝 -->
	</div>
	<div class="container center-block">
		<div class="location">
			<p>
				<a><span class="glyphicon glyphicon-home">&nbsp;></span></a> <a>후기 게시판</a>
			</p>
		</div>
		<div class="headTit">
			<h3>&nbsp;후기게시판</h3>
		</div>
		<br> <br>
	</div>


	<div class=" container">
		<div class="container center-block">
			<div class="">

				<button class="btn btn-primary" type="button" value="후기 등록"
					onclick="location.href='01.html' "
					style="text-align: reight; float: right;">후기 등록</button>
			</div>

		</div>
		<br>
		<div class="container center-block">
			<table class="table table-hover">
				<thead>
					<tr class="info">
						<th scope="row">번호</th>
						<th>평점 | 방타입</th>
						<th>제목</th>
						<th>작성자</th>
						<th>작성 일자</th>
					</tr>
				</thead>
				<tbody>
					<tr onClick = " location.href='03.html' ">
						<th><a>11</a></th>
						<td>★★★★☆ <br> 그랜드
						</td>
						<td>후기 남겨요</td>
						<td>skdskd</td>
						<td>2020-09-10</td>
					</tr>
					<tr onClick = " location.href='03.html' ">
						<th>11</th>
						<td>★★★★☆ <br> 그랜드
						</td>
						<td>후기 남겨요</td>
						<td>skdskd</td>
						<td>2020-09-10</td>
					</tr>
					<tr onClick = " location.href='03.html' ">
						<th>11</th>
						<td>★★★★☆ <br> 그랜드
						</td>
						<td>후기 남겨요</td>
						<td>skdskd</td>
						<td>2020-09-10</td>
					</tr>
				</tbody>
			</table>
			<div class="container center-block">
				<nav aria-label="Page navigation example">
					<center>
						<ul class="pagination">
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span>
							</a></li>
						</ul>
					</center>
				</nav>
			</div>
		</div>
	</div>
	<!-- 푸터 -->
	<footer>
		<div class="container center-block">
			<dl>
				<dd>
					<span class="logo" style="color: white;">Seoul HOTEL</span>
				</dd>
				<dd>
					<table class="table-footer">
						<tr>
							<td>| 상호명: Seoul HOTEL</td>
							<td>| 대표명: 김철수</td>
						</tr>
						<tr>
							<td colspan="2">| 사업자등록번호: 000-00-0000</td>
						</tr>
						<tr>
							<td colspan="2">| (000-00) 서울시 마포구 OOOO</td>
						</tr>
						<tr>
							<td>| TEL: 070-0000-0000</td>
							<td>| Email: hotel@hotel.co.kr</td>
						</tr>
						<tr>
							<td colspan="2">Copyright 2020 HOTEL Corp. All Rights
								Reserved</td>
						</tr>
					</table>
				</dd>
			</dl>
		</div>
	</footer>
	<!-- 푸터 끝 -->
</body>
</html>